<form [formGroup]="form" (ngSubmit)="onSubmit(form)">
  <div class="form-group">
    <label>FirstName</label>
    <input type="text" class="form-control" formControlName="firstName">
    <!-- <div *ngIf="form.controls.firstName.required && form.controls.firstName.touched ">
      <span>Required</span>
    </div>
    <div *ngIf="form.controls.firstName.errors(minlength) && form.controls.firstName.touched ">
      <span>Min</span>
    </div> -->
  </div>
  <div class="form-group">
    <label>LastName</label>
    <input type="text" class="form-control" formControlName="lastName">
  </div>
  <button class="btn btn-primary">Submit</button>
</form>